.header_notify {
  width: 100%;
  background: #000;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #f8f9fa;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;

  width: 100%;
}

.header_undercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;

  select {
    min-width: 50px;
    padding: 0.3rem 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    appearance: none;
    border-radius: 1.2rem;
    background: #f2f2f2;
    color: #999;
    cursor: pointer;
  }

  button {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}

.header_link {
  color: var(--grey);
  font-size: 0.75rem;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s;

  &:hover {
    color: var(--accent);
  }
}

.header_right_phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: var(--red);
  font-size: 0.75rem;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s;
}

.header_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  img {
    cursor: pointer;
  }
}

.header_catalogue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
  background-color: #43b02a;
  font-size: 1rem;
  transition: background-color 0.3s;
  outline: none;

  margin-right: 1rem;

  &:hover {
    cursor: pointer;
    background-color: var(--accent-dark);
  }
}

.header_search {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.header_search_input {
  position: relative;
  min-width: 0px;
  width: 100%;
  border: 2px solid var(--accent);
  padding: 1rem 9rem 1rem 1.6rem;
  font-size: 1rem;
  font-weight: 400;
  text-overflow: ellipsis;
  border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
  height: 3rem;
  outline: none;
}

.header_search_microphone {
  position: absolute;
  right: 7rem;
}

.header_search_button {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  background-color: var(--accent);
  border-radius: 0rem 0.8rem 0.8rem 0rem;
  transition: background-color 0.3s;
  cursor: pointer;
  &:hover {
    background-color: var(--accent-dark);
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.button_nav {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;

  &:hover {
    color: var(--accent);
  }
}

.cart {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  background: #f2f2f2;
  border-radius: 0.8rem;
  transition: all 0.2s linear;
  padding: 0.8rem;
}
