.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: black;
  padding-top: 1rem;
  padding-right: 1rem;
  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
}

.flex-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
